// Colors
$redbrown: #330000;
$chestnut: #46211A;
$yellow: #fffdd0;
$red: #800020; 
$grey: #7393B3;
$green: #4B6F44;
$earthgreen: #DADD98; 
$artichoke: #4B6F44;
$avacado: #568203;
$asparagus: #87A96B;
$corn: #FFF8DC;