@import './base.css';
@import './styles.scss';
@import './responsive.scss';


/*flexing body of the index page*/
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem 0 3rem;
    @media (max-width: 576px) {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}
.left {
    display: block;
    max-width: 100%;
    max-height: auto;
}
.right {
    box-sizing: border-box;
    padding: 2rem;
    margin: auto 0;
    color: rgb(52, 58, 52);
    @media (max-width: 576px) {
        padding: 0;
    }
}

/*Set Up page-Grid System page*/
/*structuring the aside using flexbox*/
aside {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

/*structuring the main content using flexbox*/
.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Responsive images-recipe page*/
.img-fluid {
    max-width: 100%;
    height: auto;
}

/*Centering text*/
.center {
    text-align: center;
}

/*Adding padding to recipe border*/
.border {
    padding: .5em;
}

.image-row {
    display: flex;
    flex-direction: row;
  }

.pad {
    padding: 1.5em;
}

