// Colors
$gray: #f6f5f6;
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;
$blue: #150f96;

$border: #c8c8c8; 
$light-grey: #f0f0f0;
$dark-text: #707070;
$text-color: #a0a0a0; 
$font: arial, sans-serif; 

